@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana"; /*400*/
    src: local("Dana"),
      url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium"; /*500*/
    src: local("Dana Medium"),
      url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana DemiBold"; /*600*/
    src: local("Dana DemiBold"),
      url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: local("Morraba Light"),
      url("/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src: local("Morraba Bold"),
      url("/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src: local("Morraba"),
      url("/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "Dana";
    @apply bg-gray-100 dark:bg-zinc-800;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll-bar-style::-webkit-scrollbar {
    width: 5px;
    display: block;
  }
  .scroll-bar-style::-webkit-scrollbar-thumb {
    background: #888;
    @apply rounded-lg;
  }
  .scroll-bar-style::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .no-scroll {
    overflow: hidden;
  }
}

@layer components {
  .categories-right-banner {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(/CoffeeShop-Files/categories/category-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .categories-left-banner {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(/CoffeeShop-Files/categories/category-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }
}
